<!DOCTYPE html>
<html>

<head>
    <!-- Page Title -->
    <title>Home Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- CSS for Styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- JavaScript for Interactivity -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</head>

<body>
    <h1>Your current order</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Food Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            <% const ordersA = JSON.parse(orders) %>
            <% var totalPrice = 0 %>
            <% for(var i=0; i < ordersA.length; i++) { %>
            <tr>
                <td><%= ordersA[i].foodname%></td>
                <td><%= ordersA[i].quantity%></td>
                <td><%= ordersA[i].price%></td>
                <td><%= ordersA[i].quantity * ordersA[i].price%></td>
                <%totalPrice +=  ordersA[i].quantity * ordersA[i].price %>

            </tr>
            <% } %>
        </tbody>
    </table>
    <h1>Total Price: $<%=totalPrice%></h1>
    <form id="chooseDiscount_form" action="discounted" role="form" method="post">
        <table class="table">
            <h2>Available Promotion</h2>
            <thead>
                <tr>
                    <th scope="col">Select</th>
                    <th scope="col">Promotion name</th>
                    <th scope="col">Promotion discount amount(%)</th>
                    <th scope="col">Promotion Type</th>
                </tr>
            </thead>
            <h2></h2>
            <tbody>
                <% for(var i=0; i<data.length; i++) { %>
                <tr>
                    <td><input type="radio" class="form-control" id="rpid" name="rpid" value="<%= data[i].rpid%>"></td>
                    <td><%= data[i].name%></td>
                    <td><%= data[i].discountamount%></td>
                    <td>Restaurant Promotion</td>
                </tr>
                <% } %>
            </tbody>
            <tbody>
                <% for(var i=0; i<data2.length; i++) { %>
                <tr>
                    <td><input type="radio" class="form-control" id="fpid" name="fpid" value="<%= data2[i].fpid%>"></td>
                    <td><%= data2[i].name%></td>
                    <td><%= data2[i].discountamount%></td>
                    <td>FDS Promotion</td>
                </tr>
                <% } %>
            </tbody>

        </table>
        <input type="hidden" name="uid" value="<%= uid%>">
        <input type="hidden" name="rid" value="<%= rid%>">
        <input type="hidden" name="orders" value="<%= orders%>">
        <input type="hidden" name="orderDate" value="<%= orderDate%>">

        <button type="submit" class="btn btn-primary">Apply</button>
    </form>
    <script>
        (function () {
            window.addEventListener('load', function () {
                var forms = [document.getElementById('chooseDiscount_form')];
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', check, false);
                });
            }, false);
        })();
    </script>
</body>

</html>