<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>CS2102 Database Connect</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1><%= title%></h1>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Order's ID</th>
					<th scope="col">Delivery Fee</th>
                    <th scope="col">Payment Mode</th>
                    <th scope="col">Time Ordered</th>
                    <th scope="col">Delivery time</th>
                    <th scope="col">Location ID</th>
                    <th scope="col">Customer ID</th>
				</tr>
			</thead>
			<tbody>
				<% for(var i=0; i<data.length; i++) { %>
				<tr>
                    <td><%= data[i].oid%></td>
					<td><%= data[i].deliveryfee%></td>
                    <td><%= data[i].paymentmode%></td>
                    <td><%= data[i].timeordered%></td>
                    <td><%= data[i].deliverytime%></td>
                    <td><%= data[i].lid%></td>
                    <td><%= data[i].cid%></td>
                    <td><li><a href="/unassignedorders/<%= data[i].oid%>">Assign Driver</a></li></td>
                    
				</tr>
				<% } %>
			</tbody>
        </table>
  </body>
</html>

