<!DOCTYPE html>
<html>

<head>
	<!-- Page Title -->
	<title>CS2102 Database Connect</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />

	<!-- CSS for Styling -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<!-- JavaScript for Interactivity -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>
</head>

<body>
	<form id="addshift" action="wwsdetail" method="post">
		<input type="hidden" name="date" value="<%= firstdayofweek%>">
		<!-- small problem here because when viewing all shifts, title is passed over instead -->
		<button type="submit" class="btn btn-primary">Create New Shift</button>
	</form>
	<!-- this shouldnt direct to my addshift page, it should direct to some other place that can take in 
	this button value through POST METHOD.
or maybe we pass to addShift's post method and update it there? 
shit but then the post method is alraedy used to create the shift ? unless i make two different post methods then
i think answer is to pass this date into some post method somewhere, then render and pass the date into that form. pass that date into 
the form, so that user doesnt have to input the date and can just directly use that date in the form, we do something -->

	<h1>Shifts on Week of <%= firstdayofweek%></h1>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Shift Date</th>
				<th scope="col">Start Time</th>
				<th scope="col">End Time</th>
				<th scope="col">Shift ID</th>
				<th scope="col">Driver ID</th>
				<th scope="col">Driver Name</th>
			</tr>
		</thead>
		<tbody>
			<% for(var i=0; i<data.length; i++) { %>
			<tr>
				<td><%= data[i].day%></td>
				<td><%= data[i].starttime%></td>
				<td><%= data[i].endtime%></td>
				<td><%= data[i].sid%></td>
				<td><%= data[i].uid%></td>
				<td><%= data[i].name%></td>
			</tr>
			<% } %>
		</tbody>
	</table>
</body>

</html>